@import 'tailwindcss';
@plugin 'daisyui';

:root {
	--nav-height: 72px;
}

@theme {
	--animate-accordion-down: accordion-down 0.2s ease-out;
	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	--animate-accordion-up: accordion-up 0.2s ease-out;
	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	--animate-enter-from-bottom: enter-from-bottom 0.2s ease;
	@keyframes enter-from-bottom {
		0% {
			transform: translateY(300px);
		}
		100% {
			transform: translateY(0);
		}
	}
}
